openapi: 3.0.3
info:
  title: RSS Glassmorphism Reader API
  description: |
    API for RSS Glassmorphism Reader - A modern RSS/Atom/JSON feed reader with AI capabilities,
    market data integration, and hidden paywall bypass system.
  version: 1.0.0
  contact:
    name: API Support
    email: api@rss-reader.app
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.rss-reader.app/v1
    description: Production server
  - url: https://staging-api.rss-reader.app/v1
    description: Staging server
  - url: http://localhost:3000/v1
    description: Local development

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Feeds
    description: RSS/Atom/JSON feed management
  - name: Articles
    description: Article operations
  - name: Categories
    description: Feed organization
  - name: AI
    description: AI analysis and insights
  - name: Market
    description: Market data integration
  - name: Generation
    description: Feed generation from websites
  - name: Sync
    description: Cross-device synchronization

paths:
  /auth/register:
    post:
      tags:
        - Authentication
      summary: Register new user
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: User already exists

  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login user
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh access token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refreshToken
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'

  /feeds:
    get:
      tags:
        - Feeds
      summary: Get user feeds
      operationId: getFeeds
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CategoryFilter'
        - $ref: '#/components/parameters/ActiveFilter'
        - $ref: '#/components/parameters/SearchQuery'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Feeds retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - Feeds
      summary: Subscribe to feed
      operationId: subscribeFeed
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscribeFeedRequest'
      responses:
        '201':
          description: Feed subscribed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
        '400':
          $ref: '#/components/responses/BadRequest'

  /feeds/{feedId}:
    get:
      tags:
        - Feeds
      summary: Get feed details
      operationId: getFeed
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/FeedId'
      responses:
        '200':
          description: Feed details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedDetails'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Feeds
      summary: Update feed settings
      operationId: updateFeed
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/FeedId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFeedRequest'
      responses:
        '200':
          description: Feed updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'

    delete:
      tags:
        - Feeds
      summary: Unsubscribe from feed
      operationId: unsubscribeFeed
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/FeedId'
      responses:
        '204':
          description: Feed unsubscribed

  /feeds/discover:
    post:
      tags:
        - Feeds
      summary: Discover feeds from URL
      operationId: discoverFeeds
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - url
              properties:
                url:
                  type: string
                  format: uri
      responses:
        '200':
          description: Discovered feeds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveredFeedsResponse'

  /articles:
    get:
      tags:
        - Articles
      summary: Get articles
      operationId: getArticles
      security:
        - bearerAuth: []
      parameters:
        - name: feedId
          in: query
          schema:
            type: string
        - name: categoryId
          in: query
          schema:
            type: string
        - name: unread
          in: query
          schema:
            type: boolean
        - name: starred
          in: query
          schema:
            type: boolean
        - name: search
          in: query
          schema:
            type: string
        - name: before
          in: query
          schema:
            type: string
            format: date-time
        - name: after
          in: query
          schema:
            type: string
            format: date-time
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Articles retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleListResponse'

  /articles/{articleId}:
    get:
      tags:
        - Articles
      summary: Get article details
      operationId: getArticle
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ArticleId'
      responses:
        '200':
          description: Article details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleDetails'

  /articles/{articleId}/read:
    put:
      tags:
        - Articles
      summary: Mark article as read/unread
      operationId: markArticleRead
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ArticleId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - isRead
              properties:
                isRead:
                  type: boolean
      responses:
        '204':
          description: Article marked

  /articles/{articleId}/star:
    put:
      tags:
        - Articles
      summary: Star/unstar article
      operationId: starArticle
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ArticleId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - isStarred
              properties:
                isStarred:
                  type: boolean
      responses:
        '204':
          description: Article starred

  /articles/{articleId}/extract:
    post:
      tags:
        - Articles
      summary: Extract full content
      operationId: extractContent
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ArticleId'
      responses:
        '200':
          description: Content extracted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractedContent'

  /ai/analyze:
    post:
      tags:
        - AI
      summary: Analyze article with AI
      operationId: analyzeArticle
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AIAnalysisRequest'
      responses:
        '200':
          description: Analysis complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIAnalysisResponse'

  /market/quotes:
    get:
      tags:
        - Market
      summary: Get market quotes
      operationId: getMarketQuotes
      security:
        - bearerAuth: []
      parameters:
        - name: symbols
          in: query
          required: true
          schema:
            type: string
          description: Comma-separated symbols
        - name: interval
          in: query
          schema:
            type: string
            enum: [1m, 5m, 15m, 1h, 1d]
      responses:
        '200':
          description: Market quotes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketQuotesResponse'

  /generate/preview:
    post:
      tags:
        - Generation
      summary: Preview feed generation
      operationId: previewGeneratedFeed
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneratePreviewRequest'
      responses:
        '200':
          description: Preview generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratePreviewResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    FeedId:
      name: feedId
      in: path
      required: true
      schema:
        type: string
    
    ArticleId:
      name: articleId
      in: path
      required: true
      schema:
        type: string
    
    CategoryFilter:
      name: category
      in: query
      schema:
        type: string
    
    ActiveFilter:
      name: active
      in: query
      schema:
        type: boolean
    
    SearchQuery:
      name: search
      in: query
      schema:
        type: string
    
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    
    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

  schemas:
    RegisterRequest:
      type: object
      required:
        - email
        - password
        - displayName
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        displayName:
          type: string
          minLength: 2
        inviteCode:
          type: string

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
        deviceId:
          type: string
        deviceName:
          type: string

    AuthResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        tokens:
          $ref: '#/components/schemas/TokenResponse'

    TokenResponse:
      type: object
      properties:
        access:
          type: string
        refresh:
          type: string
        expiresIn:
          type: integer

    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        displayName:
          type: string
        avatar:
          type: string
          format: uri
        createdAt:
          type: string
          format: date-time

    Feed:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
          format: uri
        title:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [rss, atom, json]
        categoryId:
          type: string
        icon:
          type: string
          format: uri
        isActive:
          type: boolean
        unreadCount:
          type: integer
        errorCount:
          type: integer
        lastFetchedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    FeedDetails:
      allOf:
        - $ref: '#/components/schemas/Feed'
        - type: object
          properties:
            statistics:
              type: object
              properties:
                totalArticles:
                  type: integer
                articlesPerDay:
                  type: number
                lastArticleAt:
                  type: string
                  format: date-time

    FeedListResponse:
      type: object
      properties:
        feeds:
          type: array
          items:
            $ref: '#/components/schemas/Feed'
        pagination:
          $ref: '#/components/schemas/Pagination'

    SubscribeFeedRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
        categoryId:
          type: string
        customTitle:
          type: string
        isActive:
          type: boolean

    UpdateFeedRequest:
      type: object
      properties:
        title:
          type: string
        categoryId:
          type: string
        isActive:
          type: boolean
        updateFrequency:
          type: integer

    DiscoveredFeedsResponse:
      type: object
      properties:
        feeds:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
                format: uri
              title:
                type: string
              type:
                type: string
                enum: [rss, atom, json]

    Article:
      type: object
      properties:
        id:
          type: string
        feedId:
          type: string
        guid:
          type: string
        title:
          type: string
        summary:
          type: string
        content:
          type: string
        url:
          type: string
          format: uri
        author:
          type: string
        publishedAt:
          type: string
          format: date-time
        isRead:
          type: boolean
        isStarred:
          type: boolean
        tags:
          type: array
          items:
            type: string
        aiSummary:
          type: string
        sentiment:
          type: number
        perspectives:
          type: object

    ArticleDetails:
      allOf:
        - $ref: '#/components/schemas/Article'
        - type: object
          properties:
            fullContent:
              type: string
            extractedAt:
              type: string
              format: date-time
            readingTime:
              type: integer
            wordCount:
              type: integer
            mainImage:
              type: string
              format: uri
            videos:
              type: array
              items:
                type: string
                format: uri
            links:
              type: array
              items:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                  text:
                    type: string

    ArticleListResponse:
      type: object
      properties:
        articles:
          type: array
          items:
            $ref: '#/components/schemas/Article'
        pagination:
          $ref: '#/components/schemas/Pagination'

    ExtractedContent:
      type: object
      properties:
        content:
          type: string
        title:
          type: string
        author:
          type: string
        publishedAt:
          type: string
          format: date-time
        mainImage:
          type: string
          format: uri
        success:
          type: boolean

    AIAnalysisRequest:
      type: object
      required:
        - articleId
        - analyses
      properties:
        articleId:
          type: string
        analyses:
          type: array
          items:
            type: string
            enum: [summary, perspectives, sentiment, bias, factCheck]

    AIAnalysisResponse:
      type: object
      properties:
        summary:
          type: string
        perspectives:
          type: object
          additionalProperties:
            type: string
        sentiment:
          type: object
          properties:
            score:
              type: number
            label:
              type: string
        bias:
          type: object
          properties:
            score:
              type: number
            direction:
              type: string
            confidence:
              type: number
        factCheck:
          type: object
          properties:
            claims:
              type: array
              items:
                type: object
                properties:
                  text:
                    type: string
                  verdict:
                    type: string
                  source:
                    type: string
                    format: uri

    MarketQuotesResponse:
      type: object
      properties:
        quotes:
          type: array
          items:
            type: object
            properties:
              symbol:
                type: string
              price:
                type: number
              change:
                type: number
              changePercent:
                type: number
              volume:
                type: integer
              high:
                type: number
              low:
                type: number
              open:
                type: number
              previousClose:
                type: number
              timestamp:
                type: string
                format: date-time

    GeneratePreviewRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
        includeFullText:
          type: boolean

    GeneratePreviewResponse:
      type: object
      properties:
        feed:
          type: object
          properties:
            title:
              type: string
            description:
              type: string
            url:
              type: string
              format: uri
        articles:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              content:
                type: string
              publishedAt:
                type: string
                format: date-time
        generationTime:
          type: integer

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        hasNext:
          type: boolean
        hasPrevious:
          type: boolean

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
            requestId:
              type: string

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    TooManyRequests:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds until rate limit resets